<div class="container">
    <div class="contenedor mb-4">
        <form class="form" [formGroup]="nuevaNotaForm" (ngSubmit)="onSubmit()" novalidate>
            
            <div class="row">
                <div class="col-md-3">
                    <label class="form__label" for="materia">
                        Materia
                        <label *ngIf="nuevaNotaForm.controls['materia'].errors?.['required'] && nuevaNotaForm.controls['materia'].touched">
                            La materia es requerida
                        </label>
                        <label *ngIf="nuevaNotaForm.errors?.['horaDia']">
                            Selecciona al menos 1 horario
                        </label>
                    </label>
                    <input formControlName="materia" class="form__input" name="materia" type="text">
                </div>
                <div class="col-md-9 dias">
                    <div class="dia">
                        <label class="form__label" for="horaDiaLunes">Lunes</label>
                        <input formControlName="horaDiaLunes" class="form__input" name="horaDiaLunes" type="time">
                    </div>
                    <div class="dia">
                        <label class="form__label" for="horaDiaMartes">Martes</label>
                        <input formControlName="horaDiaMartes" class="form__input" name="horaDiaMartes" type="time">
                    </div>
                    <div class="dia">
                        <label class="form__label" for="horaDiaMiercoles">Miercoles</label>
                        <input formControlName="horaDiaMiercoles" class="form__input" name="horaDiaMiercoles" type="time">
                    </div>
                    <div class="dia">
                        <label class="form__label" for="horaDiaJueves">Jueves</label>
                        <input formControlName="horaDiaJueves" class="form__input" name="horaDiaJueves" type="time">
                    </div>
                    <div class="dia">
                        <label class="form__label" for="horaDiaViernes">Viernes</label>
                        <input formControlName="horaDiaViernes" class="form__input" name="horaDiaViernes" type="time">
                    </div>
                </div>
            </div>
        
            <button [disabled]="!nuevaNotaForm.valid" class="btn btn-primary text-white w-100" type="submit">Registrar materia</button>
        </form>
    </div>

    <div *ngFor="let datos of datosMateria">
        <app-materia-de-horario [datosForm]="datos"></app-materia-de-horario>
    </div>
</div>