<nav class="navbar mb-4 navbar-expand-md">
    <div class="container">
        <a class="navbar-brand" [routerLink]="['/inicio']">Agenda IPN</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContenido"
            aria-controls="navbarContenido" aria-expanded="false" aria-label="Toggle navigation">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-list"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
            </svg>
        </button>
        <div class="collapse navbar-collapse" id="navbarContenido">
            <div class="navbarContenido justify-content-between align-items-center flex-wrap w-100">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item" *ngIf="usuarioLoggeado">
                        <a class="nav-link" routerLinkActive="active" [routerLink]="['/inicio']">Inicio</a>
                    </li>
                    <li class="nav-item" *ngIf="usuarioLoggeado">
                        <a class="nav-link" routerLinkActive="active" [routerLink]="['/horario']">Horario</a>
                    </li>
                    <li class="nav-item" *ngIf="usuarioLoggeado">
                        <a class="nav-link" routerLinkActive="active" [routerLink]="['/panel']">Panel</a>
                    </li>
                </ul>

                <div class="acciones d-flex align-items-center">
                    <div class="mr-4 cambiarTema">
                        <input type="checkbox" name="dark" id="dark" [(ngModel)]="dark" />
                        <label class="ml-2 mb-0" for="dark">Cambiar tema</label>
                    </div>

                    <button (click)="cerrarSesion()" class="btn btn-danger" *ngIf="usuarioLoggeado">Cerar sesion</button>
                </div>
            </div>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>