:root[theme="dark"] {
  --main-color: #52a5e0;
  --title-color: #eff3f5;
  --text-color: #c8cdd0;
  --light-text-color: #a0a7ac;
  --border-color: #2a3b47;
  --container-color: #212e36;
  --body-color: #192229;
  --container-shadow: none;

  --input-color: #212e36;
  --input-hover-color:  #2a3b47;
}
