:root {
  --main-color: #1083d6;
  --title-color: #2a3b47;
  --text-color: #697477;
  --light-text-color: #a0a7ac;
  --border-color: #eff3f5;
  --container-color: #ffffff;
  --body-color: #fbfbfe;
  --container-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);

  --input-color: #ffffff;
  --input-hover-color:  #eff3f5;
}
