* {
    box-sizing: border-box;
}

.formStyle {
    aspect-ratio: 9 / 19.5;
    background-color: var(--container-color);
    border-radius: 3em;
    box-shadow: var(--container-shadow);
    height: 640px;
    overflow: hidden;
    padding: 3em 1.5em;
    width: 100%;
    margin: 1em 0;
}

.botonesRow {
    height: 70px;

    .col-md-6:first-child {
        margin-left: 0;
    }

    .col-md-6:last-child {
        margin-right: 0;
    }
}

.row {
    margin: 0;
}

a {
    color: var(--title-color);
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

a:focus, a:hover {
    color: var(--main-color);
}

button {
    background: none;
    border: 0;
    color: inherit;
    font: inherit;
    margin: 0;
    padding: 0;
}

h1 {
    line-height: 1.2;
    margin: 0;
}

input {
    border: 0;
    color: inherit;
    font: inherit;
}

p {
    margin-block: 1em;
}

.header {
    align-items: center;
    margin-bottom: 2em;
}

.icon {
    display: inline-block;
    fill: currentColor;
    height: 1.5em;
    width: 1.5em;
}

.buttons {
    display: flex;
    gap: 1em;
    list-style: none;
    margin: 0 0 2em;
    padding: 0;
}

.buttons li {
    width: 100%;
}

.button {
    background-color: #4285F4;
    border: 1px solid #327bf0;
    border-radius: 1em;
    color: #fcfcfc;
    cursor: pointer;
    display: inline-block;
    padding: 0.875em 1.25em;
    text-align: center;
    transition: background-color 0.3s ease-in-out;
}

.button:focus, .button:hover {
    background-color: #1f6fee;
}

.button--full {
    width: 100%;

}

.button--primary {
    background-image: linear-gradient(135deg, #f55041, #f53726);
    border: 1px solid #f53726;
}

.button--primary:focus, .button--primary:hover {
    background-image: linear-gradient(135deg, #eb4435, #e03020);
}

.form {
    display: grid;
    gap: .8em;
}

.form__input {
    background-color: var(--input-color);
    border: 2px solid var(--border-color);
    border-radius: 1em;
    padding: 1em 1.25em;
    transition: background-color 0.3s ease-in-out;
    width: 100%;
    margin-bottom: 0.5em;
}

.form__input:focus, .form__input:hover {
    background-color: var(--input-hover-color);
}

.form__label {
    color: var(--text-color);
    display: inline-block;
    font-size: 0.875rem;
    margin-block-end: 0.5em;
    margin-inline: 0.5em;
    margin-bottom: 0;

    label {
        color: rgb(255, 60, 60);
        margin-bottom: 0;
    }
}

.text--center {
    text-align: center;
}

// media query 767px min
@media (max-width: 767px) {
    .formStyle {
        height: 740px;
    }

    .text--center{
        margin-top: 115px;
    }

    .col-md-6{
        padding: 0;
    }
}