<div class="container">
    <div class="card bg-primary text-white mb-4">
        <div class="card-body">
            <p>Calculo diferencial e integral</p>
            <p>05:00 am - 10:00 pm</p>
            <a class="text-white" data-bs-toggle="collapse" href="#calculoDiferencialPlataformas" role="button" aria-expanded="false" aria-controls="calculoDiferencialPlataformas">
                Plataformas
            </a>
        </div>
        <div class="collapse" id="calculoDiferencialPlataformas">
            <div class="card bg-primary card-body">
              Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
            </div>
        </div>
    </div>
    <div class="card bg-primary text-white">
        <div class="card-body">
            <p>Calculo diferencial e integral</p>
            <p>05:00 am - 10:00 pm</p>
            <a class="text-white" data-bs-toggle="collapse" href="#ProgramacionOrientadaAObjetosPlataformas" role="button" aria-expanded="false" aria-controls="ProgramacionOrientadaAObjetosPlataformas">
                Plataformas
            </a>
        </div>
        <div class="collapse" id="ProgramacionOrientadaAObjetosPlataformas">
            <div class="card bg-primary card-body">
              Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
            </div>
        </div>
    </div>
</div>